---
layout: default
title: reLinks
page-title: reLink
home-title: some good book & resources.
description:
---

{% include header.html %}
{% include boot.html %}
<main>
    {% include title.html %}
    <ul class="ex-list">
        <li  class="fadeInUp animated">
          {% for link in site.data.data.relink %}
            <span class="tag-name" >
                <a href="{{ link[1] }}">「&emsp;{{ link[0] }}&emsp;」</a>
            </span>
                </br>
          {% endfor %}
            <!-- <p>hello world!!</p> -->
        </li>
    </ul>
</main>
{% include footer.html %}
