<script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "site.data.author.type",
      "image": {{ site.data.author.image }},
      "honorificPrefix": "site.data.author.honorificPrefix",
      "name": {{ site.data.author.name }},
      "familyName": {{ site.data.author.familyname }},
      "honorificSuffix": {{ site.data.author.honorificSuffix }},
      "birthPlace": {{ site.data.author.birthPlace }},
      "birthDate": {{ site.data.author.birthDate }},
      "height": {{ site.data.author.height }},
      "gender": {{ site.data.author.gender }},
      "memberOf": {{ site.data.author.memberOf }},
      "nationality": {{ site.data.author.nationality }},
      "jobTitle": {{ site.data.author.jobTitle }},
      "knowsAbout": {{ site.data.author.knowsAbout }},
      "knowsLanguage": {{ site.data.author.knowsLanguage }},
      "email": {{ site.data.author.email }},
      "url": " {{site.data.author.url}} "
      }
    }
</script>
